* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
#startBtn {
  width: 128px;  /* Увеличили в 2 раза относительно 64px */
  height: 64px;  /* Аналогично */
  cursor: pointer; /* Чтобы курсор менялся на руку */
  transition: transform 0.1s ease; /* Плавный переход для анимации */
}

#startBtn:active {
  transform: scale(0.9);
}